<!-- Main hero unit for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Welcome to NoMercyChess</h1>
  <p>Chess is hard, but learning it shouldn't be.  NoMercyChess is the place to learn chess - from strategy to theory, study to practice...but, without the bone crushing boredom!</p>
  <p>We bring your game to the next level because there's "No Mercy" in Chess</p>
  <p>
      <%= link_to 'Try It!', lessons_path, :class => 'btn btn-primary btn-lg' %> 
      <%= link_to 'Our Philosophy', home_philosophy_path, :class => 'btn btn-primary btn-lg' %> 
    </p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>The Book</h2>
    <p>The Opening: how the game starts can dictate significately the games outcome.  Setup is key.  Do you know the best way to start, and even more importantly - do you know how to best to counter a savvy opponents opeing?</p>
    <p><a class="btn btn-default" href="#">View Related »</a></p>
  </div>
  <div class="col-md-4">
    <h2>The Magician</h2>
    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
 </div>
  <div class="col-md-4">
    <h2>The Machine</h2>
    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    <p><a class="btn btn-default" href="#">View details »</a></p>
  </div>
</div>

<blockquote>
  <p>Play the opening like a book, the middle game like a magician, and the endgame like a machine.</p>
  <small>Rudolf Spielmann <cite title="Source Title">The Art of Sacrifice in Chess</cite></small>
</blockquote>