<div class="row">
  <div class="col-md-4">
  	<p class="philosophy-piece text-center">♚</p>
  </div>
  <div class="col-md-8">
    <div class="page-header">
      <h1>Our Philosophy</h1>
    </div> 
	<p>Chess: the game of games.  To be the best you need to read, understand, and practice.  But, when it comes "learn" means get your book, find your board, start where you left off, and mimic what is on the pages in front of you.</p>
	<p>Trouble is it takes time to decipher:</p>
	<samp> 2 ♛xh7+ ♚xh7</samp>
	<br><br>
	<p>NoMercyChess embraces how players learn best - visually - while optimizing the time spent learning.  It is our philosophy that every moment spent is a moment that should and will be reflected in future games.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-8">    
  	<div class="page-header">
      <h1 class="text-right">Bring It Together</h1>
    </div>  
	<p class="text-right">We've wrapped it all together: book, board, visual, and practice taking you to success quicker than ever before.</p>

	<p class="text-right">
		<i class="fa fa-book fa-4x fa-border"></i>
		<i class="fa fa-plus fa-3x"></i>
		<i class="fa fa-puzzle-piece fa-4x fa-border"></i>
		<i class="fa fa-plus fa-3x"></i>
		<i class="fa fa-eye fa-4x fa-border"></i>
		<i class="fa fa-plus fa-3x"></i>
		<i class="fa fa-refresh fa-4x fa-border"></i>
		<i class="fa fa-arrow-right fa-3x"></i>
		<i class="fa fa-graduation-cap fa-4x fa-border"></i>
	</p>

	<p class="text-right">Now when you sit to learn its all at your finger tips.  Didn't see the last bit? Go back a move.  Want to see if you got it?  Practice what you saw.</p>
	<p class="text-right">It's what it always was: learning...but at a pace and feel that inspires and sticks with you.  Taking your game to the next level.</p>
  </div>
  <div class="col-md-4">
  	<p class="philosophy-piece text-center">♛</p>
  </div>
</div>