<!-- Headings -->
<div class="row">
  <div class="col-xs-1 moveHeader showRightBorder">Move#</div>
  <div class="col-xs-3 moveHeader showRightBorder">White</div>
  <div class="col-xs-3 moveHeader showRightBorder">Black</div>
  <div class="col-xs-1 moveHeader showRightBorder">Exp</div>
  <div class="col-xs-1 computer moveHeader showRightBorder">Computer</div>
  <div class="col-xs-1 exercise_title moveHeader showRightBorder">Exercise</div>
  <div class="col-xs-1 updated moveHeader showRightBorder">Updated</div>
  <div class="col-xs-1 moveHeader">Action</div>
</div>

<!-- Form for adding more MOVES -->
<div class="row" id="new_move_tr">
  <%= render('moves/formjs') %>
</div>

<!-- Rows of MOVES -->
<% show_moves.reverse.each do |move| %>
  <%= render('moves/move', :move => move) %>
<% end %>

<% if page_type === "Edit" %>
  <div class="row">
    <div class="col-xs-1 opening">0</div>
    <div class="col-xs-11 opening">Opening Setup</div>
  </div>
<% end %>
