<div class="row">
  <div class="span12">
    <%- model_class = Lesson -%>
    <div class="page-header">
      <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
    </div>

    <ul class="thumbnails">
     <% @lessons.each do |lesson| %> 
      <li class="span3">
        <div class="thumbnail">
          <img alt="300x200" src="http://placehold.it/300x200">
          <div class="caption">
            <h3><%= lesson.title%></h3>
            <p><%= lesson.description%></p>
            <p><%= link_to 'View', lesson_path(lesson.id), :class => 'btn btn-large btn-primary' %></p>
          </div>
        </div>
      </li>
     <% end %>
    </ul>


  </div>
</div>
