  <% if !@completions.nil? %>
	<%= @completions.count %>
	<ul>
     <% @completions.each do |completion| %> 
      <li>
      	<%= completion.exercise.title %>
      </li>
     <% end %>
    </ul>
  <% end %>