<style media="screen" type="text/css">

  #setup_board {
    height: 279px;  width: 225px;
  }
  #board {
    height: 230px;  width: 225px;
  }
  .coordinate { 
    font-size: 5.4px; 
  }
  .top {
    height: 9px;  width: 27px;
    padding-bottom: 5px;
  }
  .corner {
    height: 9px;  width: 9px;
    padding-bottom: 5px;
  }
  .square {
    height: 27px;  width: 27px;
  }
  .side{
    height: 27px;  width: 9px;

  }
  .piece {
    font-size:18px;
    padding-left: 3.5px;
  }
/*  #new_move_tr {display: none;}*/
  .move_id {display:none;}
  .computer {display:none;}
  .exercise_title {display:none;}
  .updated {display:none;}
/*  input.col-md-1 {display:none;}
  select.col-md-1 {display:none;}
*/  /*textarea {display:none;}*/

</style>

<!-- <div class="row">
  <div class="col-md-3">  

  </div> -->
  <%= render('form', :page_type => page_type) %>
<!-- </div> -->

<div class="row">
  <div class="col-md-3">
    <div class="affix">

    <div class='unused square'>
      <div class="black">&#9823</div>
    </div>  
    <div class='unused square'>
      <div class="black">&#9822</div>
    </div>  
    <div class='unused square'>
      <div class="black">&#9821</div>
    </div>  
    <div class='unused square'>
      <div class="black">&#9820</div>
    </div>  
    <div class='unused square'>
      <div class="black">&#9819</div>
    </div>  
    <div class='unused square'>
      <div class="black">&#9818</div>
    </div>

      <%= render :partial => 'setupboard' %>
      <button id="initialSetup" class='btn btn-primary'>Set</button>
      <button id='reset-board' class='btn'>Reset</button>
      <button id='clear-board' class='btn'>Clear</button>
      
      <fieldset>
        <legend>User Plays:</legend>
        <label class="radio">
          <input type="radio" name="optionsRadios" checked value="white">White
        </label>
        <label class="radio">
          <input type="radio" name="optionsRadios" value="black">Black
        </label>
      </fieldset>
    </div>
  </div>
<!-- </div>
<div class="row"> -->
  <div class="col-md-9">

      <%= render('moves/moveList', :model_class => Move, :show_moves => @exercise.moves, :page_type => "Edit") %>
    
  </div>    
</div>






