		<%= render 'board' %>

		<div class='rank'>
			<div id='white-&#9823' class='unused square'>
				<div class="piece white">&#9823</div>
			</div>	
			<div id='white-&#9822' class='unused square'>
				<div class="piece white">&#9822</div>
			</div>	
			<div id='white-&#9821' class='unused square'>
				<div class="piece white">&#9821</div>
			</div>	
			<div id='white-&#9820' class='unused square'>
				<div class="piece white">&#9820</div>
			</div>	
			<div id='white-&#9819' class='unused square'>
				<div class="piece white">&#9819</div>
			</div>	
			<div id='white-&#9818' class='unused square'>
				<div class="piece white">&#9818</div>
			</div>
			<div class='square side deleteme'></div>
			<div class='square dark deleteme'></div>
			<div class='square dark deleteme'></div>		

		</div>
		<div class='rank'>
			<div id='black-&#9823' class='unused square'>
				<div class="piece black">&#9823</div>
			</div>	
			<div id='black-&#9822' class='unused square'>
				<div class="piece black">&#9822</div>
			</div>	
			<div id='black-&#9821' class='unused square'>
				<div class="piece black">&#9821</div>
			</div>	
			<div id='black-&#9820' class='unused square'>
				<div class="piece black">&#9820</div>
			</div>	
			<div id='black-&#9819' class='unused square'>
				<div class="piece black">&#9819</div>
			</div>	
			<div id='black-&#9818' class='unused square'>
				<div class="piece black">&#9818</div>
			</div>
			<div class='square side deleteme'></div>	
			<div class='square dark deleteme'></div>
			<div class='square dark deleteme'></div>		
		</div>	
