<style media="screen" type="text/css">

  #setup_board {
    height: 279px;  width: 225px;
  }
  #board {
    height: 230px;  width: 225px;
  }
  .coordinate { 
    font-size: 5.4px; 
  }
  .top {
    height: 9px;  width: 27px;
    padding-bottom: 5px;
  }
  .corner {
    height: 9px;  width: 9px;
    padding-bottom: 5px;
  }
  .square {
    height: 27px;  width: 27px;
  }
  .side{
    height: 27px;  width: 9px;

  }
  .piece {
    font-size:18px;
    padding-left: 4.5px; padding-top: 3px;
  }
/*  #new_move_tr {display: none;}*/
  .move_id {display:none;}
  .computer {display:none;}
  .exercise_title {display:none;}
  .updated {display:none;}
</style>

<div class="row">
  <div class="span3">
  	<%- model_class = Exercise -%>
  	<div class="page-header">
  	  <h1><%=@exercise.title %> Builder</h1>
  	</div>
    
    <%= render :partial => 'setupboard' %>
    <fieldset>
      <legend>User Plays:</legend>
      <label>Label name</label>
      <label class="radio">
        <input type="radio" name="optionsRadios" checked value="white">White
      </label>
      <label class="radio">
        <input type="radio" name="optionsRadios" value="black">Black
      </label>
    </fieldset>
  </div>
<!-- </div>
<div class="row"> -->
  <div class="span9">

      <%= render('moves/moveList', :model_class => Move, :show_moves => @exercise.moves) %>
    
  </div>    
</div>






