<div class="row">
  <div class="span12">
  <%- model_class = Exercise -%>
  <div class="page-header">
    <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  </div>
  <!-- 'new Exercise' button -->
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_exercise_path,
              :class => 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="span12">
    <!-- Show Exercises in an accodian -->
    <%= render('exerciseAccordian', :show_exercises => @exercises) %>
  </div>
</div>